<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="Template1">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buddy Account</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
<script type="text/javascript"
	src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1e22565bce.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content1">



		<div
			class="container-fluid bg-light text-muted  p-3 row justify-content-between">
			<div class="col-4">
				<h1 class="fs-5 fw-light ">Profile / Manage your Bank details</h1>
			</div>
			<div class="col-4">
				<span sec:authentication="name"> </span>
			</div>

		</div>

		<div>
			<h2 class="text-danger p-2">Manage your bank details !</h2>
		</div>


		<div class="container mt-2">
		<!--  	<div sec:authorize="isAuthenticated()">
				<span sec:authentication="principal.authorities"></span>
			</div>
        -->

			<div class="card-header"></div>
			<div class="card-body">

				<form method="post" th:action="@{/savemybudyAccount}">

					<div class="mb-2 bg-light">
						<label>your ID : </label> <input class="border-0 bg-light"
							type="text" readonly="readonly" name="id"
							th:value="${buddyAccount.id}" />
					</div>

					<div class="border border-1 bg-light p-3">
						<h3 class="p-2 fs-4">Your bank details</h3>
						<div th:if="${bankDetailResponse=='NoData'}"
							class="text-danger fw-bold">Please enter your bank details</div>
						<div>
							<label>IBAN </label> <input class="form-control" type="text"
								name="iban" th:value="${buddyAccount.iban}" /> <span
								class="text-danger" th:errors="${buddyAccount.iban}"></span>
						</div>
						<div>
							<label>Bank Name </label> <input class="form-control" type="text"
								name="bankName" th:value="${buddyAccount.bankName}" /> <span
								class="text-danger" th:errors="${buddyAccount.bankName}"></span>
						</div>

						<button type="submit" class="btn btn-primary">Save your
							bank details</button>
					</div>

					<div class="border border-1 bg-light p-3 mt-2" >
						<label>Balance </label> <input class="border-0 bg-light"
							type="text" readonly="readonly" name="balance"
							th:value="${buddyAccount.balance}" /> <br>
						<p class="p-2 fw-bolder fst-italic font-monospace" style="margin-bottom:0;">Be
							careful, To transfer money to your contact, you must have enough
							money in your buddy account</p>
					</div>
				</form>


				<div class="border border-1 p-3 mt-2"
					style="background-color: rgb(180, 254, 239)">
					<h3 class="p-2 fs-4">Recharge your buddy account or make
						a transfer to your bank account</h3>

					<div th:if="${bankDetailResponse=='NoData'}"
						class="text-danger fs-4 fw-bold">Please enter and save your
						bank details before any operations</div>

					<div class="row justify-content-center m-2">
						<div class="col-4">
							<a class="btn btn-danger" th:if="${bankDetailResponse=='Data'}"
								th:href="@{/chargebuddyAccount}"> Recharge your Buddy
								account </a>
						</div>

						<div class="col-4">
							<a class="btn btn-danger" th:if="${bankDetailResponse=='Data'}"
								th:href="@{/chargemybankAccount}"> Make a transfer to your
								bank account </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
	
</body>

</html>