<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="Template1">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>contact</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
<script type="text/javascript"
	src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1e22565bce.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content1">

		<div
			class="container-fluid bg-light text-muted  p-3 row justify-content-between">
			<div class="col-4">
				<h1 class="fs-5 fw-light ">Contacts</h1>
			</div>
			<div class="col-4">
				<span sec:authentication="name"> </span>
			</div>

		</div>

		<div class="p-3">
			<h2 class="text-danger">Manage your contacts !</h2>
			<p class="p-1 fs-4">Here you are the list of the contacts you have already added : before transfer money to one buddy, be sure he's in the list.
			<br>Or Else, click on 'Add a contact' button! </p>
		</div>
		<div class="container mt-2 " >
			<h3 class=" p-2 fs-4 ">Add a new contact : </h3>
			<a class="btn btn-primary" th:href="@{/newContact}">Add a contact</a>  
		
		</div>

		<div class="container mt-2">

			<h3 class="p-2 fs-4">My contacts</h3>
			<div class="card-body">

				<form method="get" th:action="@{/contacts}"></form>
				<div th:if="${listContacts.size() > 0}">
					<table class="table">

						<thead class="text-light text-center " style="background-color: rgb(92, 184, 92); font-size: 0.9rem; font-family: arial, sans-serif;font-weight: 100;">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Pseudo</th>
								<th scope="col">Date of birth</th>
								<th scope="col">First name</th>
								<th scope="col">Last name</th>
							</tr>

						</thead>
						<tbody>
							<tr th:each=" p : ${listContacts}">
								<th scope="row">[[${p.id}]]</th>
								
								<td>[[${p.pseudo}]]</td>
								<td>[[${p.dateDenaissance}]]</td>
								<td>[[${p.firstName}]]</td>
								<td>[[${p.lastName}]]</td>
							</tr>

						</tbody>

					</table>
				</div>

				<div th:unless="${listContacts.size() > 0}">
					<span>No contacts found!</span>
				</div>

				<nav aria-label="Pagination" th:if="${totalPages > 0}">


					<ul class="pagination justify-content-center">
						<li class="page-item"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
						</li>


						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
						</li>


						<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
							<a class="page-link" href="#">...</a>
						</li>

						<li class="page-item"
							th:classappend="${page == currentPage} ? 'active'"
							th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
							<a
							th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
						</li>
						<li class="page-item disabled"
							th:if="${currentPage + 2 < totalPages}"><a class="page-link"
							href="#">...</a></li>
						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
						</li>



						<li class="page-item"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
						</li>
					</ul>

				</nav>
<!--  
				<div>
					<span> currentPage : [[${currentPage}]]</span> <span>
						totalPages : [[${totalPages}]]</span> <span> page : [[${page}]]</span> <span>
						totalItems : [[${totalItems}]]</span>
				</div>
-->

			</div>
		</div>



	</div>


<script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>