<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="Template1">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>new Transfer</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
<script type="text/javascript"
	src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1e22565bce.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content1">

		<div class="container-fluid row bg-light text-muted  p-3  ">
			<div class="col-4">
				<h1 class="fs-5 fw-light ">new Transfer</h1>
			</div>
			<div class="col-4">
				<span sec:authentication="name"></span>
			</div>

		</div>

		<div>
			<h2 class="text-danger">Transfer money to your buddies !</h2>
			<p class="text-dark">Select one of your contact, write the amount
				you want to transfer and a little description to define the transfer
				and then click on the button "Transfer"</p>
		</div>


		<div class="container mt-5">

			<div class="card-header"></div>
			<div class="card-body">


				<form class="bg-light p-2 " method="post" th:action="@{/addnewTransfer}">

					<h3>Select your buddy in the list, tape the amount and Go !</h3>

					<div>
						<label>List of your buddy beneficiaries : </label> <select
							class="form-control" name="pseudoContact">
							<option value="0">select beneficiary</option>
							<option th:each="i : ${listContacts}" th:value="${i}"
								th:text="${i}"></option>
						</select>
					</div>

					<div>
						<label>Tape the amount you want to transfer to your buddy
						</label> <input class="form-control" type="text" name="amount"
							th:value="${amount}" />
					</div>

					<div>
						<label>Write a little description to explain your transfer
						</label> <input class="form-control" type="text" name="description"
							th:value="${description}" />
					</div>

					
					<div class="text-danger fw-bold">
						<span th:if="${balanceResponse=='balanceKO'}">Be Careful,
							your balance is insufficient ! <br> Please, charge it in
							your buddy Profile
						</span> <br>
					</div>


					<button type="submit" class="btn btn-primary">Transfer</button>




				</form>



			</div>
		</div>



	</div>



<script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>