<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="Template1">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>transfer</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
<script type="text/javascript"
	src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1e22565bce.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content1">

		<div
			class="container-fluid bg-light text-muted  p-3 row justify-content-between">
			<div class="col-4">
				<h1 class="fs-5 fw-light ">Transactions with your buddies</h1>
			</div>
			<div class="col-4">
				<span sec:authentication="name"> </span>
			</div>

		</div>

		<div class="p-3">
			<h2 class="text-danger">Manage your transaction !</h2>
			<p class="p-1 fs-4">Here you can manage your transactions : add a new transfer to one of your buddies and see the historic of all your operations</p>
		</div>
		<div class="container ">
			<div class="card-header"></div>
			<h3 class="p-2 fs-4">Send Money</h3>
			
			<a class="btn btn-primary" th:href="@{/newTransfer}">Add a
				connection / transaction</a>

		</div>

		<div class="container mt-2">

			<div class="card-header" ></div>
			<h3 class="p-2 fs-4">My transactions</h3>
			
			<div class="card-body">

				<form method="get" th:action="@{/transfers}"></form>
				<div th:if="${listTransactions.size() > 0}">
					<table class="table table-striped">

						<thead class="text-light text-center " style="background-color: rgb(92, 184, 92); font-size: 0.9rem; font-family: arial, sans-serif;font-weight: 100;">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Transmitter</th>
								<th scope="col">Beneficiary</th>
								<th scope="col">Amount</th>
								<th scope="col">Date of transaction</th>
								<th scope="col">Fees</th>
								<th scope="col">Type of transaction</th>
								<th scope="col">Description</th>
							</tr>

						</thead>
						<tbody>
							<tr th:each=" t : ${listTransactions}">
								<th scope="row">[[${t.id}]]</th>
								
								<td>[[${t.transmitter.getPseudo()}]]</td>
								<td>[[${t.beneficiary.getPseudo()}]]</td>
								<td>[[${t.amount}]]</td>
								<td>[[${#dates.format(t.date, 'dd-MMM-yyyy')}]]</td>
								<td>[[${t.fees}]]</td>
								<td>[[${t.type}]]</td>
								<td>[[${t.description}]]</td>
							</tr>
						</tbody>
					</table>
					
				</div>

				<div th:unless="${listTransactions.size() > 0}">
					<span>No transactions found!</span>
				</div>

				<nav aria-label="Pagination" th:if="${totalPages > 0}">


					<ul class="pagination justify-content-center">
						<li class="page-item"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/pagingTransaction :: paging(1, '<<', 'First Page')"></a>
						</li>


						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/pagingTransaction :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
						</li>


						<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
							<a class="page-link" href="#">...</a>
						</li>

						<li class="page-item"
							th:classappend="${page == currentPage} ? 'active'"
							th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
							<a
							th:replace="fragments/pagingTransaction :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
						</li>
						<li class="page-item disabled"
							th:if="${currentPage + 2 < totalPages}"><a class="page-link"
							href="#">...</a></li>
						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/pagingTransaction :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
						</li>



						<li class="page-item"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/pagingTransaction :: paging(${totalPages}, '>>', 'Last Page')"></a>
						</li>
					</ul>

				</nav>
<!--  
				<div>
					<span> currentPage : [[${currentPage}]]</span> <span>
						totalPages : [[${totalPages}]]</span> <span> page : [[${page}]]</span> <span>
						totalItems : [[${totalItems}]]</span>
				</div>
-->

			</div>
		</div>



	</div>



<script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>