<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="Template1">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>contact</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
<!-- <script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>  -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>

<body>
	<div layout:fragment="content1">

		<div
			class="container-fluid bg-light text-muted  p-3 row justify-content-between">
			<div class="col-4">
				<h1 class="fs-5 fw-light ">Transactions with your buddies</h1>
			</div>
			<div class="col-4">
				<span sec:authentication="name"> </span>
			</div>

		</div>

		<div>
			<h2 class="text-danger">Manage your transaction !</h2>
			<p class="text-dark">Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Mollitia nobis nihil beatae et labore voluptate
				impedit aliquam, dicta consequatur quia fugit quo est aliquid
				aspernatur ratione ut nam sed eum</p>
		</div>
		<div class="container mt-5">
			<div class="card-header">Add a new transaction</div>
			<a class="btn btn-primary" th:href="@{/newTransfer}">Add a
				connection / transaction</a>

		</div>

		<div class="container mt-5">

			<div class="card-header">My transactions</div>
			<div class="card-body">

				<form method="get" th:action="@{/transfers}"></form>
				<div th:if="${listTransactions.size() > 0}">
					<table class="table">

						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Transmitter</th>
								<th scope="col">Beneficiary</th>
								<th scope="col">Amount</th>
								<th scope="col">Date of transaction</th>
								<th scope="col">Fees</th>
								<th scope="col">Type of transaction</th>
								<th scope="col">Description</th>
							</tr>

						</thead>
						<tbody>
							<tr th:each=" t : ${listTransactions}">
								<th scope="row">[[${t.id}]]</th>
								
								<td>[[${t.transmitter.getPseudo()}]]</td>
								<td>[[${t.beneficiary.getPseudo()}]]</td>
								<td>[[${t.amount}]]</td>
								<td>[[${t.date}]]</td>
								<td>[[${t.fees}]]</td>
								<td>[[${t.type}]]</td>
								<td>[[${t.description}]]</td>
							</tr>
						</tbody>
					</table>
					
				</div>

				<div th:unless="${listTransactions.size() > 0}">
					<span>No transactions found!</span>
				</div>

				<nav aria-label="Pagination" th:if="${totalPages > 0}">


					<ul class="pagination justify-content-center">
						<li class="page-item"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/pagingTransaction :: paging(1, '<<', 'First Page')"></a>
						</li>


						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == 1} ? 'disabled'"><a
							th:replace="fragments/pagingTransaction :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
						</li>


						<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
							<a class="page-link" href="#">...</a>
						</li>

						<li class="page-item"
							th:classappend="${page == currentPage} ? 'active'"
							th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
							<a
							th:replace="fragments/pagingTransaction :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
						</li>
						<li class="page-item disabled"
							th:if="${currentPage + 2 < totalPages}"><a class="page-link"
							href="#">...</a></li>
						<li class="page-item font-weight-bold"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/pagingTransaction :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
						</li>



						<li class="page-item"
							th:classappend="${currentPage == totalPages} ? 'disabled'">
							<a
							th:replace="fragments/pagingTransaction :: paging(${totalPages}, '>>', 'Last Page')"></a>
						</li>
					</ul>

				</nav>

				<div>
					<span> currentPage : [[${currentPage}]]</span> <span>
						totalPages : [[${totalPages}]]</span> <span> page : [[${page}]]</span> <span>
						totalItems : [[${totalItems}]]</span>
				</div>


			</div>
		</div>



	</div>




</body>

</html>